body {
	font-family: Arial, Verdana, sans-serif;
	padding-right: 10px;
}
body, html {
	/*keep Firefox happy */
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}

#mohiotrm-logo {
	width: 260px;
	padding-bottom: 10px;
}

#nav-bar {
	background-color: #8D5FD3;
	padding: 5px;
	margin-bottom: 15px;
}

div#divControl {
	width: 25%;
	float: left;
}

div#divControl > button:nth-child(1):before {
	content: url("../images/icon_add.png");
	margin-right: 10px;
}

div#divControl > button:nth-child(2):before {
	content: url("../images/icon_load.png");
	margin-right: 10px;
}

div#divControl > button:nth-child(3):before {
	content: url("../images/icon_save.png");
	margin-right: 10px;
}

div#divControl > button {
	color: #666;
	padding: 8px 20px 8px 20px;
	background: #eee;
	border: 1px solid #eee;
	margin: 0;
}

div#divControl > button:hover {
	background: #fff;
	cursor: pointer;
}

div#divControl > button:active {
	background: #aaa;
	border: 1px solid #aaa;
	color: #fff;
}

div.tabbedPane {
	width: 100%;
	height: 100%;
}

div.tabbedPane h3{
	font-weight: normal;
	font-size: 25px;
	color: #8D5FD3;
	border-bottom: 1px solid #8D5FD3;
	padding: 0 10px 10px 0;
	margin: 0 0 10px 0;
	background: #fff;
}

div#divHome h1,
div#divHome h3 {
	font-weight: normal;
	color: #8D5FD3;
	padding: 0 15px 15px 0;
	margin: 0 auto;
	text-align: center;
	border-bottom: 1px solid #8D5FD3;
	width: 60%;
}

div#divHome div.body {
	color: #666;
	padding: 10px;
	background: #eee;
	line-height: 26px;
	width: 60%;
	margin: 0 auto;
}

div#divDriversMap,
div#divFeaturesMap,
div#divSolutionsMap {
	background: #eee;
}

div#divSegments-table button {
	color: #fff;
	width: 200px;
	background: #8D5FD3;
	border: 1px solid #8D5FD3;
	padding: 8px 20px 8px 20px;
	cursor: pointer;
	font-weight: bold;
	display: block;
}

div#divDriversMap-table button,
#divFeaturesMap-table button,
#divSolutionsMap-table button {
	color: #fff;
	width: 80%;
	background: #8D5FD3;
	border: 1px solid #8D5FD3;
	padding: 8px 20px 8px 20px;
	cursor: pointer;
	font-weight: bold;
	display: block;
	margin: auto auto 20px auto;
}

div#divSegments-table button:hover,
div#divDriversMap-table button:hover,
#divFeaturesMap-table button:hover,
#divSolutionsMap-table button:hover {
	background: #6631B4;
}

div.mapPanelDiv {
	width: 80%;
	height: 1200px;
	float: right;
}

div.mapPanelDiv g ellipse,
div.mapPanelDiv g text {
	cursor: pointer;
}

div.tagTableDiv {
	width: 20%;
	height: 100%;
	float: left;
}

.tagTable .col1 {
	text-align: center;
}

div#divPlanner h4{
	color: #b62;
	margin-top: 0.2em;
	margin-bottom: 0em;
}
div#divPlanner div{
	background-color: #eee;
	margin-bottom: 10px;
	padding: 10px;
}
div#divPlanner-tableSol {
	float: left;
}
div#divPlanner-tableTsk {
	min-height: 10em;
}
div#divPlanner-tableRes {
	float: left;
}
div#divPlanner-tableAlloc {
	min-height: 10em;
}

table.planner td {
	vertical-align: top;
}

div#divPopup {
	position: absolute;
	top: 5em;
	left: 5em;
	/*width: 30em;*/
	display: none;
	background-color: silver;
}

table.matrix {
	border-collapse: collapse;
}
table.matrix td {
	margin: 0 0 0 0;
	padding: 10px;
}

div#divSegments-table table.matrix td:nth-child(1),
div#divSegments-table table.matrix td:nth-child(2),
table.tagTable tr td:nth-child(1),
table.tagTable tr td:nth-child(2) {
	cursor: pointer;
}

table.matrix th{
	padding: 10px;
}

td.entry-cell {
	border: solid thin black;
	text-align: center;
	padding: 0 0.5em 0 0.5em;
	cursor: pointer;
}

td.entry-cell:hover {
	cursor: pointer;
}

div#divPlanner-tableTsk td.entry-cell {
	cursor: auto;
}

td.segCol-cell{
	border-top: solid thin black;
	border-bottom: solid thin black;
	padding: 0 0.5em 0 0.5em;
}
td.segRow-cell{
	border-left: solid thin black;
	border-right: solid thin black;
	padding: 0 0.5em 0 0.5em;
}
td.segCnr-cell{
}

table.tagTable {
	margin: 0;
	padding: 0;
	width: 100%;
}

table.tagTable td.col1 {
	width: 20%;
}

table.tagTable td {
	padding: 5px;
}

div.controlPane {
	display: inline;
	width: 75%;
}

div.controlPane button {
	background: #eee;
	color: #666;
	margin: 0;
	border: 1px solid #eee;
	padding: 8px 20px 8px 20px;
	cursor: pointer;
}

div.controlPane button:hover {
	background: #fff;
}

div.controlPane button:active {
	background: #aaa;
	color: #fff;
}

button.selectedTab {
	background: #8D5FD3 !important;
	border: 1px solid #eee !important;
	color: #fff !important;
}

tr.selected-row {
	background-color: aqua;
}

div#divTRM-tasks {
	height: 600px;
}
div#divTRM-loads {
	height: 300px;
}

g.axis text {
	fill: silver;
}
g.axis path {
	fill: none;
	stroke: silver;
}