#divCanvas {width: 100%; height: 100%;
	position: absolute; top:2.2em; left:0px;
	background-color: #eee;
}
#divTime {width: 80%; height: 23px;
	position: absolute; top:0px; left:100px;
	background-color: #eee;
}
#divWest { width: 90px; height: 300px;
	position: absolute; top:25px; left:5px;
	background-color: #eee;
}
#divMain { width: 80%; height: 300px;
	position: absolute; top:25px; left:100px;
	background-color: #eee;
}
#divLoad {width: 80%; height: 120px;
	position: absolute; top:330px; left:100px;
	background-color: #eee;
}
#divCost {width: 80%; height: 120px;
	position: absolute; top:455px; left:100px;
	background-color: aqua;
}
svg, g.theVis {
  font: 10px sans-serif;
  width: 100%;
  height: 100%;
}

path.loadchart {
  stroke-opacity: 0.85;
  stroke-width: 1;
  stroke: #000;
  fill-opacity: 0.5;
}

path.domain {
  fill: none;
}

.axis path,
.axis line {
	fill: none;
	stroke: #000;
	stroke-opacity: 0.3;
	shape-rendering: crispEdges;
}

.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}
