<div>
<h1>Welcome to MohioTRM</h1>
<div class="body">
MohioTRM is a web-based tool that supports the <strong><a href="http://www.ifm.eng.cam.ac.uk/roadmapping/">Fast Start Technology Roadmapping</a> process</strong>, a phased approach to derive a product/technology <a href="https://en.wikipedia.org/wiki/Technology_roadmap">roadmap</a>. The methodology consists of a series of process steps:
<ol>
<li>identify market and business drivers and priorities: mind-maps and event-maps feed a prioritisation table/matrix.
<li>drivers are cross-referenced with product features: mind-map and table/matrix.
<li>product features are cross-referenced to the technology project: mind-map and table/matrix.
<li>the technology project is visualised: technology roadmap design.
</ol>
In the past, planners have used whiteboards the mind maps, spreadsheets for the prioritisation matrices, and various drawing tools for the final TRM. MohioTRM, has been purpose-built to support all phases of this process, allowing interaction between the various views.
</div>

<h3>Usage overview</h3>
<div class="body">
	<h4>Mind Maps</h4>
	<ul>
	<li>Use the mouse to select and move a mind map text node. The selected node has a black border.
	<li>Double-click a node to edit the text. To break text over several lines, insert a "|" character. The system treats this as a new-line marker.
	<li>Shift-click on a node to create a new child node. The system will create a new node just above the previous one, and connected to it via a line.
	<li>To associate a node with a particular table item (driver, feature or solution, in the left-hand panel) select the node, then click on the relevant table row. The node's background colour will change to match the selected row.
	</ul>
	<p>
	You can add as many table items as you wish. To edit the title, double-click on the table row. The index value cannot be edited, and is for reference only.
	</p>
</div>

<div class="body">
	<h4>Segments</h4>
	<p>
	The Market Segments table is used in a similar way to the MindMap tables. It is possible to edit the Segment name or the title, by double-clicking over the table cell. Again, the index value is not editable.
	</p>
</div>


<div class="body">
	<h4>Matrices</h4>
	<p>
	Each matrix carries over item values from the previous mind map(s), along with market segments. Matrix2 and matrix3 both show the previous segment-weights carried over for cross-reference (the coloured rows).
	</p>
	<p>
	To edit a weight, double-click a white cell. The values should be numeric, although the app doesn't check for this. If the value isn't a whole number from zero to 10, then the calculation of segment weights (in the coloured columns) will produce unpredictable results.
	</p>
</div>

<div class="body">
	<h4>Planner</h4>
	<p>
	The Solutions table displays any previously created solutions, along with the segment-weights for reference. This panel allows you to add tasks against solutions, add resources, and allocate resources to tasks as required.
	</p>
	<ul>
	<li>To create related tasks for each solution, click on one of the three <b>add</b> buttons on the relevant row. The tasks have pre-defined types, as indicated on the buttons' labels: <b>Apply</b> for generic action tasks; <b>Research</b> for information gathering; <b>Procurement</b> for material gathering.
	<li>New tasks appear in the Tasks table, colour-coded against the related solution. To edit the title or duration of the task, double-click in one of the uncoloured cells. Duration is presently measured in days. Fractions of days are permissible if required.
	<li>New resources can be added and edited in the resources table. Name, capacity and cost are all editable - double-click on the relevant cell. Capacity is an indication of full-time equivalent (FTE) availability. So if you have two of a particular resource, both available full-time, this counts as FTE=2. Likewise, one resource available half-time is FTE=0.5. Cost is for reference only at this point, but will be the basis of a cost-loading chart (see below).
	<li>To allocate resources to a task, simply double-click on the relevelnt cell and enter the amount of FTE usage required. It is assumed that each allocated resource will be required for the duration of the task. Significant changes in resources should be represented by separate tasks.
	</ul>
	</p>
</div>

<div class="body">
	<h4>TRM - Road Map</h4>
	<p>
	The Technology Roadmap displays tasks as a Gantt-chart, with blocks colour-coded to match the original solutions. Each coloured block represents the length of time for the given task. Tasks initially all start at the same time (day zero). The display will show at least 20 days, but will rescale if any task ends later than this point. The display will also rescale if the window is resized, but you will need to click on the TRM button to make this happen.
	</p>
	<ul>
	<li>Click on a task to select that task. Selected tasks have a black border.
	<li>Drag the task to change the start time. Note that you can't change the start less than zero days - if a task is dragged past the left margin of the panel, it will be repositioned back on the panel once the drag is finished.
	<li>The load chart automatically updates once a task has been repositioned.
	<li>Select a task and then shift-click on another task to create a dependency link. This indicates that the originally selected task needs to complete before the second task can begin. The later task will be automatically moved if needed to respect the dependency.
	<li>Moving a task block with dependencies will result in dependent tasks being moved also where needed.
	<li>Creating a link between two tasks when there is already a link there will result in the existing link being removed.
	<li>Creating a link from taskA to taskB is not allowed if there is a link form taskB to taskA.
	<li>It is possible to create circular links involving several tasks. This is not recommended, and the results are unpredictable.
	</ul>
	<p>
	The Resource Loading chart displays the amount of FTE resource allocation across all tasks. The stacked blocks are colour-coded to match the resource list on the left. This chart is not editable.
	</p>
</div>

</div>